body {
  padding: 25px;
  font-family: "Georgia";
  width: 634px;
  margin: 10px auto;
  font-size: 14pt;
  background: rgb(235, 235, 235)
}

.bio {
  border: 1px gray solid;
  background: rgb(181, 181, 181);
  padding: 0 20px;
}

.notice {
  border: 1px gray solid;
  background: rgb(181, 181, 181);
  padding: 0 20px;
}