body {
  padding: 25px;
  font-family: "Georgia";
  width: 634px;
  margin: 10px auto;
  font-size: 14pt;
  background: rgb(235, 235, 235);
  box-sizing:border-box
}

.chart {
  background: white;
  border: 1px black solid;
  padding: 5px 5px 0 5px
}

.bio, .notice {
  border: 1px gray solid;
  background: rgb(181, 181, 181);
  padding: 0 20px;
}

.graphic {
  padding: 10px;
  max-width: 640px;
  display: inline-block;
  border: 1px black solid;
  box-sizing: border-box;
}

.current-page {
  font-weight: bold;
}

.navigation {
  background-color: #bcbcbc;
  border: 1px black solid;
  margin: 0 0 10px 0;
}

.navigation li {
  display: inline-block;
  padding: 0 10px;
}

.photography {
  max-width: 100%;
  border: 1px black solid;
}

#banner {
  background-image: url("../Photos/moonrise.jpg");
  background-size: contain;
  height: 438px;
  width: 100%;
}

.content h2 {
  color: #fdfee7;
  display: block;
  padding-left: 35px;
  padding-top: 30px;
}

.contact.codecademy {
  display: inline-flex;
  height: 30px;
  align-items: center;
}

#twin_cities_map {
  height: 400px;
  border: 1px black solid;
}

@media only screen and (min-resolution: 300dpi) {
  body {
    width: 95%;
  }
}

@media only screen and (max-width: 980px) {
  body {
    font-size: 2rem;
    width: 90%;
  }
  .photography {
    max-width: 100%;
  }
  .graphic {
    max-width: 100%;
  }
}